.movieCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 160px;
  width: 350px;
  background-color: #ffffff;
  margin: 50px 50px 0px 50px;
  padding: 20px;
  border-radius: 15px;
}

.youtubeType {
  margin: 20px;
  text-decoration: 5px underline yellow;
  background-color: #ffffff;
  cursor: pointer;
}

.deleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1068px) {
  .movieCard {
    text-align: center;
    padding: 15px;
    height: 180px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 20px;
  }

  .youtubeType {
    margin: 20px;
    text-decoration: 5px underline yellow;
    background-color: #ffffff;
    cursor: pointer;
  }

  .deleteIcon {
    margin-left: 90%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
